.textField {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

label {
  text-align: left;
}

input {
  width: 100%;
}

.error {
  color: red;
  height: 20px;
}
